<span className="preheader"></span>

<table role="presentation" border="0" cellpadding="0" cellspacing="0" className="body">
    <tr>
        <td>&nbsp;</td>
        <td className="container">
            <div className="content">

                <!-- START CENTERED WHITE CONTAINER -->
                <table role="presentation" className="main" style="border: 1px dotted gray;">

                    <!-- START MAIN CONTENT AREA -->
                    <tr>
                        <td className="wrapper">
                            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <p>Hi,</p>
                                        <p>Thank you for signing up to our   
                                            News latter.
                                        </p>
                                        <p>We are glad to serve you</p>

                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- END MAIN CONTENT AREA -->
                </table>
                <!-- END CENTERED WHITE CONTAINER -->

                <!-- START FOOTER -->
                <div className="footer">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td className="content-block">
                                <span className="apple-link">aussieming, 3rd flr Rehema house ,Kimathi
                                    street</span>
                                <br> Don't like these emails? <a href=`http://68.183.211.165:9000/unsubscribe?email={{email}}`>Unsubscribe</a>.
                            </td>
                        </tr>
                        <tr>
                            <td className="content-block powered-by">
                                Powered by <a href="">softerwares</a>.
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- END FOOTER -->

            </div>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>